/* .container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color:whitesmoke;
  display: grid;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 150px; /* Adjust as needed */
  /*background: none;
   border-radius: 15px;
  border-width: 15px;
  border: 2px solid whitesmoke;


}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 98%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.alert {
  margin-top: 20px;
} */ 
.form-outline {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    background-color: lightyellow;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease; /* Add smooth transition for border color */
  }
  
  .form-outline:focus-within {
    border-color: #007bff; /* Change border color on focus */
  }
  
  /* CSS for buttons */
  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add smooth transition for background color */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Darker shade of primary color on hover */
  }
  
  .btn-link {
    color: #007bff; /* Primary color for links */
    font-weight: bold;
    transition: color 0.3s ease; /* Add smooth transition for link color */
  }
  
  .btn-link:hover {
    color: #0056b3; /* Darker shade of primary color on hover */
  }